.goods-tag-container {
  .content-box {
    margin-top: 15px;
  }
}

.goods-tag-pop-box {
  font-size: 12px;

  .goods-tag-pop-content {
    padding-bottom: 5px;
    max-width: 240px;
    min-width: 190px;

    .title {
      padding: 0;
      margin: 0 0 10px;
    }
  }

  .el-input__inner {
    border-radius: 0;
  }

  .el-button {
    border-radius: 0;
  }
}
