<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.guet.mapper.UserMapper">

    <select id="selectPageVo" resultType="cn.edu.guet.entity.User">
        select uid, name, age, email
        from t_user
        where age > #{age} and 1 = 1
    </select>
</mapper>