<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在播放 - {{ music.song_name }}</title>
    <link rel="stylesheet" href="/static/player/main.css">
    <link type="text/css" rel="stylesheet" href="/static/css/player.css">
    <script type="text/javascript" src="/static/js/player.js"></script>
</head>
<body>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=2097486090&auto=1&height=66"></iframe>
</body>
</html>